#!name=Twitter
#!desc=分流选择支持的地区
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/author/NaiSi_01.png
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/Loon/rule/Twitter.list
#!tg-channel=https://t.me/inaisi
#!date=2025-06-06 09:16:55
#############################################

host-suffix, ads-twitter.com, 美国节点
host-suffix, cms-twdigitalassets.com, 美国节点
host-suffix, periscope.tv, 美国节点
host-suffix, pscp.tv, 美国节点
host-suffix, t.co, 美国节点
host-suffix, tellapart.com, 美国节点
host-suffix, tweetdeck.com, 美国节点
host-suffix, twimg.co, 美国节点
host-suffix, twimg.com, 美国节点
host-suffix, twimg.org, 美国节点
host-suffix, twitpic.com, 美国节点
host-suffix, twitter.biz, 美国节点
host-suffix, twitter.com, 美国节点
host-suffix, twitter.jp, 美国节点
host-suffix, twittercommunity.com, 美国节点
host-suffix, twitterflightschool.com, 美国节点
host-suffix, twitterinc.com, 美国节点
host-suffix, twitteroauth.com, 美国节点
host-suffix, twitterstat.us, 美国节点
host-suffix, twtrdns.net, 美国节点
host-suffix, twttr.com, 美国节点
host-suffix, twttr.net, 美国节点
host-suffix, twvid.com, 美国节点
host-suffix, vine.co, 美国节点
host-suffix, x.com, 美国节点
host-keyword, twitter, 美国节点
