[filter_remote]
https://raw.githubusercontent.com/ALLG999/newcloud/refs/heads/master/FQFL.list, tag=番茄小说广告过滤, force-policy=REJECT

[filter_local]
host-keyword, ad, reject
host-keyword, ad, reject,PROXY-NAME=com.dragon.read

