# #!name=番茄小说
# #!desc=番茄小说去广告
^https?:\/\/(live|.*douyin.*)\.com\/.* url reject-200
^https?:\/\/.*\.ecombdimg\.com\/.*ad.* url reject-200
^https?:\/\/.*\.bdurl\.net\/.*ad.* url reject-200
^https?:\/\/.*\.pangolin-sdk-toutiao\.com\/.*(live|ad|api|sdk).* url reject-200
^https?:\/\/api-access\.pangolin-sdk-toutiao\.com\/.* url reject-200
^https?:\/\/.*pangolin-sdk-toutiao.*\.com\/.* url reject-200
^https?:\/\/.*\.oceanengine.com url reject-200
^https?:\/\/.*\.zijieapi.com url reject-200
^https?:\/\/.*\.fqnovelpic.com url reject-200
^https?:\/\/.*\.ecombdapi.com url reject-200
^https?:\/\/.*\.snssdk.com url reject-200
^https?:\/\/mcs.snssdk.com url reject-200
^https?:\/\/.*\.fqnovel.com url reject-200
^https?:\/\/.*\.byteimg.com url reject-200
^https?:\/\/.*\.amemv.com url reject-200
^https?:\/\/.*\.bytegecko.com url reject-200
^https?:\/\/.*\.safebrowsing.apple url reject-200
^https?:\/\/.*\.zijieapi\.com\/.*(ad|api|sdk).* url reject-200
^https?:\/\/.*\.pangolin-sdk-toutiao\.com\/.*(ad|api|sdk).* url reject-200
^https?:\/\/.*\.wcp.taobao.com\/.*adstrack.* url reject-200
^https?:\/\/.+\.pglstatp-toutiao\.com\/.+\/toutiao\.mp4 url reject
^https?:\/\/.+\.(pglstatp-toutiao|pstatp)\.com\/(obj|img)\/(ad-app-package|ad)\/.+ url reject
^https?:\/\/.+\.snssdk\.com\/video\/play\/1\/toutiao\/.+\/mp4 url reject
^https?:\/\/.+\.snssdk\.com\/api\/ad\/.+ url reject
host, p6-ad-sign.byteimg.com, reject
host, p9-ad-sign.byteimg.com, reject
host, ads0-normal-lq.zijieapi.com, reject
host, ads1-normal-lq.zijieapi.com, reject
host, ads2-normal-lq.zijieapi.com, reject
host, ads3-normal-lq.zijieapi.com, reject
host, ads4-normal-lq.zijieapi.com, reject
host, ads5-normal-lq.zijieapi.com, reject
host, api-access.pangolin-sdk-toutiao.com, reject
host, api-access.pangolin-sdk-toutiao1.com, reject
host, i-lq-snssdk.com, reject
host, i.snssdk.com, reject
host, is.snssdk.com, reject
host, mcs.snssdk.com, reject
host, tnc0-aliec1.zijieapi.com, reject
host, tnc0-aliec2.zijieapi.com, reject
host, tnc0-aliec3.zijieapi.com, reject
host, tnc1-aliec1.zijieapi.com, reject
host, tnc1-aliec2.zijieapi.com, reject
host, tnc1-aliec3.zijieapi.com, reject
host, tnc2-aliec1.zijieapi.com, reject
host, tnc2-aliec2.zijieapi.com, reject
host, tnc2-aliec3.zijieapi.com, reject
host, tnc3-aliec1.zijieapi.com, reject
host, tnc3-aliec2.zijieapi.com, reject
host, tnc3-aliec3.zijieapi.com, reject
host, activity-ag.awemeughun.com, reject
host, security-lq.snssdk.com, reject
host, v6-novelapp.ixigua.com, reject
host, *novelapp.ixigua.com, reject
host, *default.ixigua.com, reject
host, apd-pcdnwxlogin.teg.tencent-cloud.net, reject
host, api.iegadp.qq.com, reject
host, sf3-ttcdn-tos.pstatp.com, reject
host-suffix, byteimg.com, direct
host-suffix, pglstatp-toutiao.com, reject
host-suffix, byteorge.com, reject
host-suffix, bytegoofy.com, reject
host-suffix, bytedance.com, reject
host, 360buyimg.com, reject
host, buysecm.com, reject
hostname = .pangolin-sdk-toutiao,*.ecombdimg.com,*.douyin.com,*.ihunantv.com,ecombdapi.com,bdurl.net,byteimg.com,fqnovel.com,fqnovelpic.com,pangolin-sdk-toutiao.com,.pstatp.com,.pglstatp-toutiao.com,gurd.snssdk.com,.snssdk.com,.default.ixigua.com,.360buyimg.com,.zijieapi.com,.buysecm.com,wcp.taobao.com
