# #!name =🔴 网上国网
# #!category=通用重写
# #!desc=95598
^https?:\/\/api\.wsgw-rewrite\.com\/electricity\/bill\/all url script-request-body https://raw.githubusercontent.com/Lubangqing/QuantumultX-Profile/main/scripts/dompling-index-8035cd.js
hostname = api.wsgw-rewrite.com
